DATABASE_URL=postgresql://user:password@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require

RESEND_API_KEY=
FROM_EMAIL=Marrow <noreply@marrow.com>

VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

VITE_LAUNCHDARKLY_CLIENT_SIDE_ID=

CRON_SECRET=
APP_URL=http://localhost:5173